/* CSVUploader.css */

/* Style the container */
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Style the input element */
  .file-upload-input {
    display: none; /* Hide the default file input */
  }
  
  /* Style a custom button to trigger file input */
  .custom-file-upload-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  /* Style the custom button when hovering */
  .custom-file-upload-button:hover {
    background-color: #2980b9;
  }

  .table-wrapper{
    display: inline-block;
  }
  